<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Soccer Now</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        #container {
            margin: auto;
            max-width: 500px;
        }

        th {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1>Soccer Now</h1>

            <ol>
                <li><a th:href="@{/customers}">Search Players</a></li>
                <li><a th:href="@{/customers/new}">Search Teams</a></li>
                <li><a th:href="@{/customers/new}">Search Tournaments</a></li>
                <li><a th:href="@{/customers/new}">Register Result of a Game</a></li>
            </ol>
        </div>

        <!-- Content injected here -->
        <div layout:fragment="content"></div>
    </div>
</body>
</html>
